#.rspec
credentials.tfvars
credentials.json
credentials.yml
placeholder.tfvars
jenkins.tfvars
jenkins.json
config.tfvars
config.json
properties.yml
.bundle
vendor
bin
*.tfstate
*.tfstate.backup
terraform.tfvars
etcd_discovery_url.txt
kube_token.txt
kubeconfig
/tls-assets
commands.txt
